Feedbacks/Feedback.BL/Connected Services/FeedbackService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Feedback.Service.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Feedback.Service.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServerFeedbackDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerFeedbackDto" nillable="true" type="tns:ServerFeedbackDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerFeedbackDto" nillable="true" type="tns:ArrayOfServerFeedbackDto" />
  <xs:complexType name="ServerFeedbackDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerFeedbackDto" nillable="true" type="tns:ServerFeedbackDto" />
</xs:schema>